.fruit-book-container {
  padding: 0;
  background: var(--background-color);
  height: 600px;
}

.fruit-book-title {
  font-family: monospace;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  background: #232b3e;
  padding: 16px 24px 10px 24px;
  border-bottom: 1px solid #353b4a;
  letter-spacing: 1px;
}

.fruit-book-grid {
  height: 480px;
  width: 100%;
  min-width: 700px;
  border: 1px solid #7c5fe6;
  position: relative;
}

.fruit-book-popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 10;
  display: flex;
  justify-content: center;
  //   pointer-events: auto;
}

.fruit-book-row-selected {
  font-family: monospace;
  font-size: 16px;
  color: #fff;
  background: #7c5fe6;
}

.fruit-book-row {
  font-family: monospace;
  font-size: 16px;
  color: #f5f5f5;
}

.fruit-book-row-even {
  background: #232b3e;
}

.fruit-book-row-odd {
  background: #262f47;
}

.fruit-book-status-available {
  color: #7c5fe6;
  font-weight: 700;
  font-family: monospace;
  font-size: 16px;
  background: #232b3e;
}

.fruit-book-status-pending {
  color: #ffb300;
  font-weight: 700;
  font-family: monospace;
  font-size: 16px;
  background: #232b3e;
}

.fruit-book-status-low {
  color: #e57373;
  font-weight: 700;
  font-family: monospace;
  font-size: 16px;
  background: #232b3e;
}
