.home {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  position: relative;
  background: var(--background-color);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.blank-content {
  color: var(--text-color);
  text-align: center;
  margin-top: 2rem;
}
